/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #hero h3 {
    font-size: 1.5rem;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero p {
    font-size: 0.8rem;
  }
  #hero button {
    font-size: 0.7rem;
  }
<<<<<<< HEAD

=======
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  #about .animate2,
  .animate3 {
    display: none;
  }
<<<<<<< HEAD

  #service .graphic {
    height: 375px;
  }
  #service .uiux {
    height: 375px;
  }
  #service .frontend {
    height: 375px;
  }
  #footer p {
    font-size: 0.8rem;
=======
  #service .graphic {
    height: 320px;
  }
  #service .uiux {
    height: 320px;
  }
  #service .frontend {
    height: 320px;
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
}
/* // Large devices (desktops, 992px and up)  */
@media (max-width: 992px) {
<<<<<<< HEAD
  #hero .btnHeroBox {
    padding-top: 20px;
  }
=======
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  #about h4 {
    text-align: center;
    padding-top: 10px;
  }
  #service .graphic {
<<<<<<< HEAD
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
=======
    height: 215px;
  }
  #service .uiux {
    height: 215px;
  }
  #service .frontend {
    height: 215px;
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
  #tools img {
    margin: 0px 20px 0px 20px;
  }
  #footer img {
    padding: 20px 0px 20px 0px;
<<<<<<< HEAD
    width: 50%;
=======
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
<<<<<<< HEAD
  #hero .btnHeroBox {
    padding-top: 20px;
  }
=======
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  #hero img {
    display: none;
  }
  #service .graphic {
<<<<<<< HEAD
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
=======
    height: 210px;
  }
  #service .uiux {
    height: 210px;
  }
  #service .frontend {
    height: 210px;
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
  #service .graphic i {
    display: none;
  }
  #service .uiux i {
    display: none;
  }
  #service .frontend i {
    display: none;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
<<<<<<< HEAD
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #service .graphic {
    height: 280px;
  }
  #service .uiux {
    height: 280px;
  }
  #service .frontend {
    height: 280px;
  }

  #contact p {
    font-size: 0.5rem;
=======
  #service .graphic {
    height: 270px;
  }
  #service .uiux {
    height: 270px;
  }
  #service .frontend {
    height: 270px;
  }

  #contact p {
    font-size: 0.7rem;
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
  #tools img {
    margin: 0px 10px 0px 10px;
  }
  #promotion {
    text-align: center;
  }
  #footer p {
<<<<<<< HEAD
    font-size: 0.6rem;
=======
    font-size: 0.7rem;
>>>>>>> f19923b91b39d8d2954b109ad53e82f997a0f5b8
  }
  #footer h6 {
    font-size: 1rem;
  }
}
