/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #hero h3 {
    font-size: 1.5rem;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero p {
    font-size: 0.9rem;
  }
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #hero p {
    font-size: 0.9rem;
    line-height: 2rem;
  }
  #about p {
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
  }
  #about .animate2,
  .animate3 {
    display: none;
  }
  #hero a {
    font-size: 0.9rem;
  }
  #hero .btnHeroBox .hireMe {
    background-color: var(--maincolor);
    color: var(--acsentColor);
    font-weight: 500;
  }
  #hero .btnHeroBox .cv {
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
  }

  #about button {
    font-size: 0.9rem;
  }
  #service .graphic {
    height: 375px;
  }
  #service .uiux {
    height: 375px;
  }
  #service .frontend {
    height: 375px;
  }
  #promotion button {
    font-size: 0.9rem;
  }
  #footer p {
    font-size: 0.8rem;
  }
}
/* Custom 1*/
@media (max-width: 1201px) and (min-width: 992px) {
  #service .graphic {
    height: 340px;
  }
  #service .uiux {
    height: 340px;
  }
  #service .frontend {
    height: 340px;
  }
}
/* Custom 2*/
@media (max-width: 1172px) {
  #service .graphic {
    height: 300px;
  }
  #service .uiux {
    height: 300px;
  }
  #service .frontend {
    height: 300px;
  }
}
/* Custom 3*/
@media (max-width: 1104px) {
  #service .graphic {
    height: 325px;
  }
  #service .uiux {
    height: 325px;
  }
  #service .frontend {
    height: 325px;
  }
}
/* Custom 3*/
@media (max-width: 1024px) {
  #service .graphic {
    height: 350px;
  }
  #service .uiux {
    height: 350px;
  }
  #service .frontend {
    height: 350px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #hero .btnHeroBox {
    padding-top: 20px;
  }

  #about h3 {
    padding-top: 30px;
  }
  #service .graphic {
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
  }
  #tools img {
    margin: 0px 20px 0px 20px;
  }
  #footer img {
    padding: 20px 0px 20px 0px;
    width: 50%;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #hero img {
    display: none;
  }
  #service .graphic {
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
  }
  #service .graphic i {
    display: none;
  }
  #service .uiux i {
    display: none;
  }
  #service .frontend i {
    display: none;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #contact p {
    font-size: 0.7rem;
  }
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #hero a {
    font-size: 0.7rem;
  }
  #hero h1 {
    font-size: 1.7rem;
    padding: 0px 0px 0px 0px;
  }
  #hero h3 {
    font-size: 1.2rem;
  }
  #hero p {
    line-height: 1.6rem;
  }
  #about h1 {
    font-size: 1.7rem;
  }
  #about h3 {
    font-size: 1.2rem;
  }
  #about h4 {
    font-size: 1.2rem;
  }
  #about a {
    font-size: 0.7rem;
  }
  #service h1 {
    font-size: 1.7rem;
  }
  #service h4 {
    font-size: 1rem;
  }
  #service .graphic h4 {
    font-size: 1.2rem;
  }
  #service .uiux h4 {
    font-size: 1.2rem;
  }
  #service .frontend h4 {
    font-size: 1.2rem;
  }
  #service .graphic p {
    font-size: 1rem;
  }
  #service .uiux p {
    font-size: 1rem;
  }
  #service .frontend p {
    font-size: 1rem;
  }
  #service .graphic {
    height: 250px;
  }

  #portfolio h4 {
    font-size: 1rem;
  }
  #service .uiux {
    height: 250px;
  }
  #service .frontend {
    height: 250px;
  }
  #tools img {
    width: 20%;
    margin: 0px 10px 0px 10px;
  }
  #portfolio h1 {
    font-size: 1.7rem;
  }
  #portfolio h5 {
    font-size: 0.9rem;
  }
  #portfolio p {
    font-size: 0.8rem;
  }
  #promotion {
    text-align: center;
  }
  #promotion h4 {
    font-size: 1rem;
  }
  #promotion a {
    font-size: 0.7rem;
  }
  #footer p {
    font-size: 0.7rem;
  }
  #footer h6 {
    font-size: 1rem;
  }
  #footer h1 {
    text-align: center;
    font-size: 1.7rem;
  }
}
@media (max-width: 350px) {
  #service .graphic {
    height: 280px;
  }
  #service .uiux {
    height: 280px;
  }
  #service .frontend {
    height: 280px;
  }
}
