/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #hero h3 {
    font-size: 1.5rem;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero p {
    font-size: 0.8rem;
  }
  #hero button {
    font-size: 0.7rem;
  }

  #about .animate2,
  .animate3 {
    display: none;
  }

  #service .graphic {
    height: 375px;
  }
  #service .uiux {
    height: 375px;
  }
  #service .frontend {
    height: 375px;
  }
  #footer p {
    font-size: 0.8rem;
  }
}
/* // Large devices (desktops, 992px and up)  */
@media (max-width: 992px) {
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #about h4 {
    text-align: center;
    padding-top: 10px;
  }
  #service .graphic {
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
  }
  #tools img {
    margin: 0px 20px 0px 20px;
  }
  #footer img {
    padding: 20px 0px 20px 0px;
    width: 50%;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #hero img {
    display: none;
  }
  #service .graphic {
    height: 240px;
  }
  #service .uiux {
    height: 240px;
  }
  #service .frontend {
    height: 240px;
  }
  #service .graphic i {
    display: none;
  }
  #service .uiux i {
    display: none;
  }
  #service .frontend i {
    display: none;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #hero .btnHeroBox {
    padding-top: 20px;
  }
  #service .graphic {
    height: 280px;
  }
  #service .uiux {
    height: 280px;
  }
  #service .frontend {
    height: 280px;
  }

  #contact p {
    font-size: 0.5rem;
  }
  #tools img {
    margin: 0px 10px 0px 10px;
  }
  #promotion {
    text-align: center;
  }
  #footer p {
    font-size: 0.6rem;
  }
  #footer h6 {
    font-size: 1rem;
  }
}
